/* 
.container-form {
    width: 30vw;
    height: fit-content;
    margin: 100px;
    background-color: #A4CAFE;
    border-radius: 10px;    
    padding: 30px;
    @media screen and (max-width: 650px) {
        width: 85vw;
    }
} */

/* 
.container-signUp {
    flex-direction: row;
    display: flex;
    justify-content: center;
    background-color: rgb(249 250 251 );
    width: 100vw;
    height: 100vh;
} */
/* 
.form {
    display: flex;
    flex-direction: column;
} */