h1 {
    font-size: 45px;
    @media screen and (max-width: 480px) {
        font-size: 30px;
    }
}

h2 {
    font-size: 30px;
    color: black;
    font-style: normal;
    @media screen and (max-width: 480px) {
        font-size: 25px;
    }
}

body {
    padding: 150px;
    padding-top: 70px;
    padding-bottom: 70px;
    @media screen and (max-width: 480px) {
        padding: 70px 30px 40px 30px;
    }
}

